.container {
    background-color: #a5c4c2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.inputType {
    border: 1px solid #aaa;
    margin: 80px 0 40px 0;
    padding: 5px;
    border-radius: 3px;
    width: 30%;
    min-height: 30px;
    display:inline-block;
    font-size: 95%;
}

.buttonType {
    margin-bottom: 20px;
}
.resultType {
    color: black;
}
.error {
    color: red;
    margin-bottom: 25px;
}